body{
    margin: 0;
    padding: 0;
}
.canvas{
    width: 100%;
    height: 881px;
    /* background-color: brown; */
}
.sky{
    width: 100%;
    height: 100%;
}
.sky > img{
    width: 100%;
    height: 50%;
}
.land > img{
    width: 100%;
    position: absolute;
    bottom: 10%;

}
.tree > img{
    position: absolute;
    left: 50%;
    bottom: 40%;
}
.sea > img{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0%;
}
.sun > img{
    width: 500px;
    position: absolute;
    top: 0%;
    left: 0%;
}
